
*.db
*.db-shm
*.opendb
*.db-wal
*.ipch
*.obj
*.dll
*.log
.vs/Gugahacks/v16/.suo
build/Gugahacks/Release/Gugahacks.dll.recipe
build/Gugahacks/Release/Gugahacks.iobj
build/Gugahacks/Release/Gugahacks.ipdb
build/Gugahacks/Release/Gugahacks.tlog/CL.command.1.tlog
build/Gugahacks/Release/Gugahacks.tlog/CL.read.1.tlog
build/Gugahacks/Release/Gugahacks.tlog/CL.write.1.tlog
build/Gugahacks/Release/Gugahacks.tlog/Gugahacks.lastbuildstate
build/Gugahacks/Release/Gugahacks.tlog/link.command.1.tlog
build/Gugahacks/Release/Gugahacks.tlog/link.read.1.tlog
build/Gugahacks/Release/Gugahacks.tlog/link.write.1.tlog
